.header
  .side-header 
    %p.side-header__user-name
      =current_user.name

    %ul.user-menu
      %li.user-menu__edit-user
        = link_to edit_users_path (current_user) do
          %i.fa.fa-cog
      %li.user-menu__new-group
        = link_to new_group_path do
          %i.fa.fa-edit

  .main-header
    .current-group 
      %h2.current-group__name
        = @group.name
      %ul.member-list
        - @group.users.each do |group_user|
          %li.member-list__member= group_user.name
          
    .main-header__edit-btn 
      = link_to 'Edit', edit_group_path(@group.id)